$calendar-bgcolor: lighten(rgb(220, 220, 0), 30%);
// $datetimepicker-digit-width: .54em;
$datetimepicker-colon-width: 0.217em;

$datetimepicker-digit-width: 0.164em;
// $datetimepicker-colon-width: .217em;
